<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <!-- <link rel="stylesheet" th:href="@{/css/main.css}"/> -->

</head>

<body>


<main role="main" class="fluid-container">  
<div th:insert="fragments/navigation"></div>
   <div class="starter-template">
   
   <div class="container">
       <div class="row">
 		 
		    <div class="col">
		      One of six columns
		    </div>
		    <div class="col">
		      One of six columns
		    </div>
		   
 		</div>
    </div>
	</div>


</main>


<script type="text/javascript" th:src="@{webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>
